<div class="card">
    <h5>Nuevo Usuario</h5>
    <div class="p-fluid">
        <div class="field mt-3">
            <div class="flex flex-column">
                <div class="flex flex-column m-auto">
                    <span class="p-float-label  mb-3">
                        <input pInputText id="username" type="text" />
                        <label htmlFor="username">Nombre de Usuario</label>
                    </span>
                    <span class="p-float-label mb-3">
                        <input pInputText id="password" type="password" />
                        <label htmlFor="password">Clave</label>
                    </span>
                    <span class="p-float-label mb-3">
                        <input pInputText id="name" type="text" />
                        <label htmlFor="name">Nombre</label>
                    </span>
                    <span class="p-float-label mb-3">
                        <input pInputText id="mail" type="email" />
                        <label htmlFor="mail">Correo</label>
                    </span>
                    <p-dropdown   
                        [options]="roles"
                        placeholder="Rol" 
                        class="mb-3">
                    </p-dropdown>
                </div>
                <div class="flex flex-row justify-content-between">
                    <button pButton pRipple label="Enviar" class="m-auto w-2"></button>
                </div>
            </div>
        </div>
    </div>
</div>
