<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<div class="card">
    <h5>Reporte de Cobros</h5>
    <div class="p-fluid">
        <div class="field mt-2 px-4">
            <div class="flex flex-column" *ngIf="obtainCollections$ | async">
                <div class="grid p-fluid">
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Servicio: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <p-dropdown [options]="services" [(ngModel)]="selectedService" placeholder="Servicio"></p-dropdown>
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Estado: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <div class="grid">
                            <div class="col-12 md:col-4">
                                <div class="field-checkbox mt-3">
                                    <p-checkbox name="group1" value="PP" [(ngModel)]="status" id="status">
                                    </p-checkbox>
                                    <label for="ch">Pagados</label>
                                </div>
                            </div>
                            <div class="col-12 md:col-4">
                                <div class="field-checkbox mt-3">
                                    <p-checkbox name="group1" value="TP" [(ngModel)]="status" id="status1">
                                    </p-checkbox>
                                    <label for="la">Impagos</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Desde: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <p-calendar class=" mr-5" [(ngModel)]="initDate" name="initCalendar" [showIcon]="true"
                            [showButtonBar]="true"></p-calendar>
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Hasta: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <p-calendar class=" mr-5" [(ngModel)]="finishDate" name="finishDate" [showIcon]="true"
                            [showButtonBar]="true"></p-calendar>
                    </div>
                </div>
                <div class="h-2rem"></div>
                <div class="flex flex-row justify-content-between">
                    <button pButton pRipple label="Generar Reporte" (click)="query()" class="m-auto w-2"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card">
        <p-toolbar styleClass="mb-2">
            <ng-template pTemplate="left">
                <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2"
                    pTooltip="CSV" tooltipPosition="bottom"></button>
            </ng-template>
        </p-toolbar>
        <p-table #dt [value]="collectionOrders" [columns]="cols" [exportFilename]="nameDocument" styleClass="p-datatable-sm" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <h5>Reporte de Cobros</h5>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col">Forma de pago</th>
                    <th scope="col">Cuenta cliente</th>
                    <th scope="col">Identificación cliente</th>
                    <th scope="col">Nombre cliente</th>
                    <th scope="col">Contrapartida</th>
                    <th scope="col">Valor enviado</th>
                    <th scope="col">Valor procesado</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Referencia</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-i="rowIndex" let-collection>
                <tr>
                    <td>{{collection.paymentWay === 'CSH' ? 'Efectivo' : 'Transferencia' }}</td>
                    <td>{{collection.debtorAccount === 0 ? 'N/A' : collection.debtorAccount}}</td>
                    <td>{{collection.customer.customerId}}</td>
                    <td>{{collection.customer.fullName}}</td>
                    <td>{{collection.referenceId}}</td>
                    <td>{{collection.amount | currency:'USD'}}</td>
                    <td>{{collection.state === 'PP' ? collection.amount : '-'}}</td>
                    <td>{{collection.collectedDate | date: 'dd-MM-yyyy'}}</td>
                    <td>{{collection.state === 'TP' ? 'Por pagar' : collection.state === 'PP' ? 'Pagado' : 'Fallido'}}</td>
                    <td>{{collection.reference}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <p-progressSpinner></p-progressSpinner>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <p>No se han encontrado registros con los parámetros</p>
            </ng-template>
        </p-table>
    </div>
</div>
