<div class="card">
    <h5>Procesamiento de Cobros</h5>
    <div class="p-fluid">
        <div class="field mt-2 px-4">
            <div class="flex flex-column">
                <div class="flex flex-column justify-content-between">
                    <div class="flex flex-row justify-content-between">
                        <button pButton pRipple label="Procesar" class="w-2"></button>
                    </div>
                    <p-divider></p-divider>
                </div>
                <div class="grid p-fluid">
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Referenica: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <input type="text" pInputText placeholder="Referencia">
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Canal de recaudación: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <input type="text" pInputText placeholder="Canal de recaudación">
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Servicio: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <input type="text" pInputText placeholder="Servicio">
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Periodicidad: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <input type="text" pInputText placeholder="Periodicidad">
                    </div>
                </div>
            </div>
            <div class="flex flex-column mt-6">
                <p-table [value]="data" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Forma de Pago</th>
                            <th>Cuenta Cliente</th>
                            <th>Identificación Cliente</th>
                            <th>Contrapartida</th>
                            <th>Nombre Cliente</th>
                            <th>Valor Enviado</th>
                            <th>Valor Procedencia</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Referencia</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-collect>
                        <tr>
                            <td>{{collect.reference}}</td>
                            <td>{{collect.service}}</td>
                            <td>{{collect.channel}}</td>
                            <td>{{collect.periodic}}</td>
                            <td>{{collect.account}}</td>
                            <td>{{collect.reference}}</td>
                            <td>{{collect.reference}}</td>
                            <td>{{collect.reference}}</td>
                            <td>{{collect.reference}}</td>
                            <td>{{collect.reference}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
