<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<p-toast position="top-center" key="toast-payments"></p-toast>
<div class="card">
    <form #aproveOrders="ngForm" novalidate>
        <h5>Aprobación de Órdenes</h5>
        <div class="p-fluid">
            <div class="field mt-2 px-4">
                <div class="flex flex-column">
                    <div class="flex flex-row justify-content-around mt-3">
                        <div class="flex flex-row mr-5">
                            <p class="pt-3 mr-5">Servicio</p>
                            <p-dropdown placeholder="Seleccione" [options]="service" [(ngModel)]="selectedService"
                                name="service">
                            </p-dropdown>
                        </div>
                        <div class="flex flex-row justify-content-around mt-3v">
                            <div class="flex flex-row">
                                <p class="pt-3 mr-5">Fecha Inicio</p>
                                <p-calendar [(ngModel)]="initDate" required class=" mr-5" [showIcon]="true"
                                    [showButtonBar]="true" name="initDate">
                                </p-calendar>
                            </div>
                            <div class="flex flex-row">
                                <p class="pt-3 mr-2">Fecha Fin</p>
                                <p-calendar class=" mr-5" required [(ngModel)]="finishDate" [showIcon]="true"
                                    [showButtonBar]="true" name="end">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row justify-content-between mt-5">
                        <button pButton pRipple label="Consultar" class="w-2" (click)="query()"></button>
                    </div>
                </div>
                <p-divider></p-divider>
                <div class="flex flex-column mt-6" *ngIf="queryState">
                    <p-table [value]="payments" responsiveLayout="sc*roll" *ngIf="getPayments$ | async">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Items</th>
                                <th>Valor del pago</th>
                                <th>Cuenta</th>
                                <th>Fecha de proceso</th>
                                <th>Aprobación</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-payment>
                            <tr>
                                <td>{{payment.serviceName}}</td>
                                <td>{{payment.serviceDescription}}</td>
                                <td>{{payment.records}}</td>
                                <td>{{payment.totalPaymentValue | currency}}</td>
                                <td>{{payment.debtorAccount}}</td>
                                <td>{{payment.processDate | date: 'dd/MM/yyyy'}}</td>
                                <button pButton pRipple label="Aprobar" (click)="approve(payment)" class=""></button>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </form>
</div>