<p-toast position="top-center" key="accounts-toast"></p-toast>
<div class="card">
    <h5>Gestión de Cuentas</h5>
    <div class="p-fluid">
        <div class="field mt-3">
            <div class="flex flex-column">
                <div class="grid">
                    <div class="col-6 col-offset-3 align-content-center align-items-center" style="text-align: center;">
                        <p-table
                            [value]="accounts"
                            styleClass="p-datatable-gridlines"
                            selectionMode="single"
                            dataKey="accountNumber"
                            [(selection)]="selectedAccount"
                        >
                            <ng-template pTemplate="caption"> Cuentas </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem">
                                        <i class="pi pi-check-square" style="font-size: 1.5rem"></i>
                                    </th>
                                    <th style="width: 200px">Cuenta</th>
                                    <th style="width: 200px">Tipo de Cuenta</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-account>
                                <tr [pSelectableRow]="account">
                                    <td>
                                        <p-tableCheckbox [value]="account"></p-tableCheckbox>
                                    </td>
                                    <td style="width: 200px">
                                        {{ account.accountNumber }}
                                    </td>
                                    <td style="width: 200px">{{ account.accountType }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="grid mt-3">
                            <div class="col-12 md:col-2">
                                <div class="field-radiobutton mb-0">
                                    <h5>Uso:</h5>
                                </div>
                            </div>
                            <div class="col-12 md:col-3">
                                <div class="field-radiobutton mb-0">
                                    <p-radioButton name="service" value="PAY" [(ngModel)]="valRadio" id="pagos"></p-radioButton>
                                    <label for="pagos">Pagos</label>
                                </div>
                            </div>
                            <div class="col-12 md:col-3">
                                <div class="field-radiobutton">
                                    <p-radioButton name="service" value="COL" [(ngModel)]="valRadio"
                                        id="cobros"></p-radioButton>
                                    <label for="cobros">Cobros</label>
                                </div>
                            </div>
                            <div class="col-12 md:col-4">
                                <div class="field-radiobutton">
                                    <p-radioButton name="service" value="PNC" [(ngModel)]="valRadio" id="pagosc"></p-radioButton>
                                    <label for="pagosc">Pagos y Cobros</label>
                                </div>
                            </div>
                        </div>
                        <button
                            pButton
                            pRipple
                            label="Aceptar"
                            class="w-2 my-3"
                            (click)="registerAccount()"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <br />
    <p-table [value]="accountsCM">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 200px">Número de cuenta</th>
                <th style="width: 200px">Tipo de cuenta</th>
                <th style="width: 200px">Uso</th>
                <th style="width: 200px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-accountCM>
            <tr>
                <td style="width: 200px">
                    {{ accountCM.accountNumber }}
                </td>
                <td style="width: 200px">
                    {{ accountCM.accountType }}
                </td>
                <td style="width: 200px">{{ accountCM.serviceType }}</td>
                <td>
                    <div>
                        <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger"
                            (click)="remove(accountCM)" pTooltip="Remover uso" tooltipPosition="top">
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>