<div class="field mt-2 px-4">
    <div class="flex flex-column">
        <div class="flex flex-row justify-content-around mt-3">
            <div class="flex flex-row">
                <p class="pt-3 mr-5">Fecha de Inicio</p>
                <p-dropdown placeholder="Seleccione"></p-dropdown>
            </div>
            <div class="flex flex-row">
                <p class="pt-3 mr-5">Fecha de Fin</p>
                <p-dropdown placeholder="Seleccione"></p-dropdown>
            </div>
        </div>
        <div class="w-3"></div>
        <div class="flex flex-row justify-content-between mt-5">
            <button pButton pRipple label="Consultar" class="m-auto w-2"></button>
        </div>
    </div>
</div>
