<div class="card">
    <h5>Configuración de Cobros</h5>
    <div class="p-fluid">
        <div class="field mt-3 px-7">
            <form (ngSubmit)="f.form.valid && save()" #f="ngForm">
                <div class="flex flex-column">
                    <div class="grid p-fluid">
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Servicio: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <input 
                                class="min-w-max" 
                                pInputText 
                                name="name" 
                                placeholder="Ingrese el nombre del servicio" 
                                [(ngModel)]="service.name" 
                                id="name"
                                type="text"
                                required/>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Descripción del servicio: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <input 
                                class="min-w-max" 
                                pInputText 
                                name="description" 
                                placeholder="Ingrese la descripción del servicio" 
                                [(ngModel)]="service.description" 
                                id="description"
                                type="text"
                                required/>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Cuenta: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <p-dropdown [options]="accounts" name="accountNumber" [(ngModel)]="collection.creditorAccount"
                                    optionLabel="accountNumber" optionValue="accountNumber" placeholder="Seleccione la cuenta" 
                                    [showClear]="true">
                                </p-dropdown>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Canal de recaudación: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <p-dropdown [options]="channels" name="channel" [(ngModel)]="collection.channel" 
                                    optionValue="id" optionLabel="name" placeholder="Seleccione el canal de recaudación" 
                                    [showClear]="true" required>
                            </p-dropdown>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Fecha de inicio de Cobro: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <p-calendar class=" mr-5" [showIcon]="true" name="startDate" [showButtonBar]="true" [(ngModel)]="startDate" required></p-calendar>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Fecha de fin de Cobro: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <p-calendar class=" mr-5" [showIcon]="true" name="endDate" [showButtonBar]="true" [(ngModel)]="endDate" required></p-calendar>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Periodicidad: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <p-dropdown [options]="periodicities" name="periodicity" [(ngModel)]="collection.periodicity" 
                                    optionValue="name" optionLabel="name" placeholder="Seleccione la periodicidad" 
                                    [showClear]="true" required>
                            </p-dropdown>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Referencia: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <input class="min-w-max" pInputText name="reference" placeholder="Ingrese la Referencia" [(ngModel)]="collection.reference" id="reference" type="text"/>
                        </div>
                    </div>
                    <div class="h-2rem"></div>
                    <div class="flex flex-row justify-content-between">
                        <button type="submit" pButton pRipple label="Ingresar" class="m-auto w-2 min-w-min"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
