<div class="card">
    <h5>Configuración de pagos recurrentes</h5>
    <div class="p-fluid">
        <!-- <app-payment-program></app-payment-program>-->
        <app-payment-ready></app-payment-ready>
    </div>
</div>
