<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium"
    color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<div class="card">
    <form #paymentBasic="ngForm" novalidate>
        <h5>Pagar pendientes</h5>
        <p-table [value]="collectionOrders" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Servicio</th>
                    <th>Monto</th>
                    <th>Forma de pago</th>
                    <th>Fecha límite</th>
                    <th>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-collectionOrder>
                <tr>
                    <td>{{collectionOrder.reference}}</td>
                    <td>{{collectionOrder.amount | currency: 'USD'}}</td>
                    <td>{{collectionOrder.paymentWay === 'MAN' ? 'Manual' : 'Recurrente' }}</td>
                    <td>{{collectionOrder.endCollectionDate | date: 'dd-MM-yyyy'}}</td>
                    <td>
                        <p-button label="Pagar" (click)="confirmPayment(collectionOrder)" icon="pi pi-check" class="p-button-success" styleClass="p-button-sm"></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td *ngIf="collectionOrders.length == 0">
                        No tienes pagos pendientes.
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-confirmDialog [style]="{width: '40vw'}" [baseZIndex]="10000" rejectLabel="Cancelar" acceptLabel="Aceptar" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    </form>
</div>
