<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<p-toast position="top-center" key="toast-payments"></p-toast>
<div class="card">
    <h5>Órdenes de pago a servicios básicos</h5>
    <div class="p-fluid">
        <div class="field mt-3 px-7">
            <div class="flex flex-column" *ngIf="pendingServices$ | async">
                <p-table [value]="servicesOff" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Empresa a</th>
                            <th>Contrapartida</th>
                            <th>Descripción</th>
                            <th>Cuenta</th>
                            <th>Monto máximo</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-servicesoff>
                        <tr>
                            <td>{{servicesoff.description}}</td>
                            <td>{{servicesoff.referenceId}}</td>
                            <td>{{servicesoff.serviceName}}</td>
                            <td>{{servicesoff.debtorAccount}}</td>
                            <td>{{servicesoff.maxAmount}}</td>
                            <td>{{servicesoff.aprobationState}}</td>
                            <td>
                                <button pButton pRipple label="Aprobar" class="w-8 mr-5" *ngIf="whoAmI ==='PRO' || whoAmI === 'ADM'"></button>
                                <button pButton pRipple label="Pagar" *ngIf="whoAmI === 'ING' || whoAmI === 'ADM'" disabled (click)="payDialog(servicesoff)" class="w-8 mr-5"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Pagar" [(visible)]="displayLoad" [breakpoints]="{'960px': '75vw'}"
    [style]="{width: '50vw'}" [draggable]="true" [resizable]="false">
    <div class="p-fluid">
        <div class="field mt-2 px-4">
            <div class="flex flex-column">
                <div class="grid p-fluid mt-2">
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2">Empresa a Pagar: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <p style="text-align:right;" class="pt-3 mr-2">{{serviceOfferToPay.description}}</p>
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2">Servicio: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <p style="text-align:right;" class="pt-3 mr-2">{{serviceOfferToPay.serviceName}}</p>
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2">Contrapartida: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <p style="text-align:right;" class="pt-3 mr-2">{{serviceOfferToPay.referenceId}}</p>
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2">Cuenta a debitar: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <p style="text-align:right;" class="pt-3 mr-2">{{serviceOfferToPay.debtorAccount}}</p>
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2">Email: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <p style="text-align:right;" class="pt-3 mr-2">{{serviceOfferToPay.creditorEmail}}</p>
                    </div>
                </div>
                <p-table [value]="collectionSum" responsiveLayout="scroll" class="my-3">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Fecha de Vencimiento</th>
                            <th>Valor</th>
                            <th>Estado</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-collection>
                        <tr>
                            <td>{{collection.endCollectionDate | date}}</td>
                            <td>{{collection.amount}}</td>
                            <td>{{collection.state}}</td>
                        </tr>
                        {{generalAssign(collection.amount)}}
                    </ng-template>
                </p-table>
                <div class="grid p-fluid mt-2">
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2">El costo del servicio es de : </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <p style="text-align:right;" class="pt-3 mr-2">0.4</p>
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2">Total a pagar:</p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <p style="text-align:right;" class="pt-3 mr-2">{{ generalAmount + 0.4 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-content-end">
        <p-button (click)="displayLoad=false" label="Pagar"styleClass="p-buttont" (onClick)="pay()"></p-button>
        <p-button (click)="displayLoad=false" label="Cancelar" styleClass="p-button-text"></p-button>
    </div>
</p-dialog>