<div class="card">
    <p-table 
        #dt
        [value]="collections" 
        responsiveLayout="scroll"
        dataKey="internalId"
        [globalFilterFields]="['serviceOffered.name','serviceOffered.description']"
        [scrollable]="true">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <h5>Lista de Cobros</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Referencia</th>
                <th>Servicio</th>
                <th>Estado</th>
                <th>Fecha de Creación</th>
                <th>Periodicidad</th>
                <th>Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-collection>
            <tr>
                <td>{{collection.serviceOffered.description}}</td>
                <td>{{collection.serviceOffered.name}}</td>
                <td>{{collection.state === 'INA' ? 'Inactivo' : 'Activo'}}</td>
                <td>{{collection.creationDate | date:'dd-MM-yyyy'}}</td>
                <td>{{collection.periodicity}}</td>
                <td>
                    <button 
                        pButton 
                        pRipple 
                        icon="pi pi-pencil" 
                        class="p-button-rounded p-button-warning mr-2" 
                        pTooltip="Editar" 
                        tooltipPosition="top"
                        (click)="editar(collection)"
                        *ngIf="collection.state === 'ACT'">
                    </button>
                    <button 
                        pButton 
                        pRipple 
                        icon="pi pi-eye" 
                        class="p-button-rounded p-button-info" 
                        pTooltip="Detalle" 
                        tooltipPosition="top"
                        (click)="show(collection)">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="collectionDialog" [style]="{width: '500px'}" header="Detalle del cobro" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="service">Servicio</label>
            <input type="text" pInputText id="service" [(ngModel)]="collection.serviceOffered.name" [readonly]="true" />
        </div>
        <div class="field">
            <label for="description">Descripción del Servicio</label>
            <textarea id="description" pInputTextarea [(ngModel)]="collection.serviceOffered.description" [readonly]="true" rows="3" cols="20"></textarea>
        </div>
        <div class="field">
            <label for="status">Estado</label>
            <input type="text" pInputText id="status" [(ngModel)]="collection.state" [readonly]="true" />
        </div>
        <div class="field">
            <label for="creationDate">Fecha de creación</label>
            <input type="text" pInputText id="creationDate" [(ngModel)]="collection.creationDate" [readonly]="true" />
        </div>
        <div class="field">
            <label for="periodicity">Periodicidad</label>
            <input type="text" pInputText id="periodicity" [(ngModel)]="collection.periodicity" [readonly]="true" />
        </div>
        <div class="field">
            <label for="channel">Canal de recaudación</label>
            <input type="text" pInputText id="channel" [(ngModel)]="collection.channel" [readonly]="true" />
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="startCollection">Inicio</label>
                <input type="text" pInputText id="startCollection" [(ngModel)]="collection.startCollectionDate" [readonly]="true" />
            </div>
            <div class="field col">
                <label for="endCollection">Fin</label>
                <input type="text" pInputText id="endCollection" [(ngModel)]="collection.endCollectionDate" [readonly]="true" />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button" (click)="hideDialog()"></button>
    </ng-template>
</p-dialog>