<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium"
    color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<div class="card">
    <h5>Habilitar Cobro</h5>
    <div class="p-fluid">
        <div class="field mt-3 px-2">
            <div class="flex flex-column">
                <p-table [value]="collectionsCheck" responsiveLayout="scroll" *ngIf="getCollections$ | async">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Referencia</th>
                            <th>Servicio</th>
                            <th>Canal de recaudación</th>
                            <th>Periodicidad</th>
                            <th>Cuenta</th>
                            <th>Estado</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-collection>
                        <tr>
                            <td>{{collection.serviceOffered.description}}</td>
                            <td>{{collection.serviceOffered.name}}</td>
                            <td>{{collection.channel}}</td>
                            <td>{{collection.periodicity}}</td>
                            <td>{{collection.creditorAccount}}</td>
                            <td>
                                <p-toggleButton 
                                    onLabel="Habilitado" 
                                    offLabel="Deshabilitado" 
                                    [(ngModel)]="collection.stateCheck" 
                                    offIcon="pi pi-times" 
                                    onIcon="pi pi-check" 
                                    (onChange)="check(collection)">
                                </p-toggleButton>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
