<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium"
    color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<div class="card">
  <h5>Programar pagos</h5>
  <p-table [value]="collectionOrders" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Servicio</th>
        <th>Monto</th>
        <th>Fecha de cobro</th>
        <th>Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-collectionOrder>
      <tr>
        <td>{{ collectionOrder.reference }}</td>
        <td>{{ collectionOrder.amount | currency: "USD" }}</td>
        <td>{{ collectionOrder.startCollectionDate | date: "dd-MM-yyyy" }}</td>
        <td>
          <p-button
            label="Programar"
            (click)="schedulePayment(collectionOrder)"
            icon="pi pi-check"
            class="p-button-success"
            styleClass="p-button-sm"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td *ngIf="collectionOrders.length == 0">
          No tienes pagos recurrentes configurados.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
