<div class="card">
    <h5>Carga de Contrapartida</h5>
    <div *ngIf="!existData">
        <span>No se ha seleccionado un cobro para cargar sus contrapartidas</span>
    </div>
    <div class="p-fluid" *ngIf="existData">
        <div class="field mt-2 px-4">
            <div class="flex flex-column">
                <div class="flex flex-column justify-content-between">
                    <div class="flex flex-row">
                        <p-fileUpload 
                            #fileUpload 
                            *ngIf="showRef ||  collectionsOrder.length == 0" 
                            mode="basic"
                            name="demo[]"
                            class="mr-4"
                            accept=".csv"
                            maxFileSize="500000000"
                            (onSelect)="uploadFile($event)"
                            [auto]="true"
                            chooseLabel="Cargar Archivo"
                            (uploadHandler)="onUpload($event)"> 
                        </p-fileUpload>
                        <button pButton pRipple *ngIf="showRef  ||  collectionsOrder.length == 0" label="Cargar" (click)="processFile()" class="w-2 mr-4"></button>
                        <div *ngIf="upload != null" class="mr-4">Archivo cargado</div>
                        <button pButton pRipple *ngIf="showProcess ||  collectionsOrder.length == 0" (click)="processOrders()" label="Procesar" class="w-2"></button>
                    </div>
                    <p-divider></p-divider>
                </div>
                <div class="grid p-fluid">
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Referencia: </p>
                    </div>
                    <div class="field col-6 md:col-10">
                        <input type="text" pInputText placeholder="Referencia" name="reference" [(ngModel)]="collection.serviceOffered.description" [readonly]="true">
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Canal de recudación: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <input type="text" pInputText placeholder="Canal de recaudación" name="channel" [(ngModel)]="collection.channel" [readonly]="true">
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Servicio: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <input type="text" pInputText placeholder="Servicio" name="service" [(ngModel)]="collection.serviceOffered.name" [readonly]="true">
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Peridicidad: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <input type="text" pInputText placeholder="Periodicidad" name="periodicity" [(ngModel)]="collection.periodicity" [readonly]="true">
                    </div>
                    <div class="field col-6 md:col-2" *ngIf="collection.state === 'PRO'">
                        <p style="text-align:right;" class="pt-3 mr-2" for="state">Estado: </p>
                    </div>
                    <div class="field col-6 md:col-4" *ngIf="collection.state === 'PRO'">
                        <input type="text" pInputText placeholder="Procesado" name="state" value="Procesado" [readonly]="true">
                    </div>
                </div>
            </div>
            <div class="flex flex-column mt-6">
                <p-table [value]="collectionsOrder" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Forma de Pago</th>
                            <th>Cuenta Cliente</th>
                            <th>Identificación Cliente</th>
                            <th>Contrapartida</th>
                            <th>Nombre Cliente</th>
                            <th>Monto</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Referencia</th>
                            <th style="min-width: 140px;">Opciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-collection>
                        <tr>
                            <td>{{collection.paymentWay === 'CSH' ? 'Efectivo' : 'Transferencia'}}</td>
                            <td>{{collection.debtorAccount === 0 ? 'N/A' : collection.debtorAccount}}</td>
                            <td>{{collection.customer.customerId}}</td>
                            <td>{{collection.referenceId}}</td>
                            <td>{{collection.customer.fullName}}</td>
                            <td>{{collection.amount | currency:'USD':'symbol'}}</td>
                            <td>{{collection.collectedDate}}</td>
                            <td>{{collection.state === 'TP' ? 'Por pagar': collection.state === 'PP' ? 'Pagado' : collection.state === 'FF' ? 'Fallido' : 'Listo'}}</td>
                            <td>{{collection.reference}}</td>
                            <td>
                                <div>
                                    <button 
                                        pButton 
                                        pRipple 
                                        icon="pi pi-pencil" 
                                        class="p-button-rounded p-button-warning mr-2" 
                                        (click)="editCollectionOrder(collection)" 
                                        pTooltip="Editar" 
                                        tooltipPosition="top"
                                        [disabled] = "collection.processingState !== 'PRO' ? false : true">
                                    </button>
                                    <button 
                                        pButton 
                                        pRipple 
                                        icon="pi pi-trash" 
                                        class="p-button-rounded p-button-danger" 
                                        (click)="deleteCollectionOrder(collection)" 
                                        pTooltip="Eliminar" 
                                        tooltipPosition="top"
                                        [disabled] = "collection.processingState !== 'PRO' ? false : true">
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="h-2rem"></div>
                <div class="flex flex-row">
                    <button 
                        pButton 
                        pRipple 
                        label="Agregar Registro" 
                        class="w-2" 
                        (click)="save()" 
                        [disabled] = "!showRef">
                    </button>
                    <button 
                        pButton 
                        pRipple

                        label="Regresar" 
                        class="w-2 ml-2 p-button-raised p-button-text" 
                        (click)="back()">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="collectionDialog" [contentStyle]="{'overflow': 'visible'}" [style]="{width: '650px'}" header="Detalle del Cobro" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="formgrid grid">
            <div class="field col">
                <label for="customerId">Identificación del cliente</label>
                <input type="text" pInputText id="customerId" [(ngModel)]="collectionOrder.customer.customerId" required autofocus [readonly]="collectionOrder.internalId != null" />
                <small class="p-error" *ngIf="submitted && !collectionOrder.customer.customerId">Campo requerido.</small>
            </div>
            <div class="field col">
                <label for="fullName">Nombre del cliente</label>
                <input type="text" pInputText name="fullName" [(ngModel)]="collectionOrder.customer.fullName" [readonly]="collectionOrder.internalId != null"/>
                <small class="p-error" *ngIf="submitted && !collectionOrder.customer.fullName">Campo requerido.</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="amount">Valor</label>
                <p-inputNumber id="amount" [(ngModel)]="collectionOrder.amount" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && !collectionOrder.amount">Campo requerido.</small>
            </div>
            <div class="field col">
                <label for="referenceId">Contrapartida</label>
                <input type="text" pInputText id="referenceId" [(ngModel)]="collectionOrder.referenceId" [readonly]="collectionOrder.internalId != null" />
                <small class="p-error" *ngIf="submitted && !collectionOrder.referenceId">Campo requerido.</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="reference">Referencia</label>
                <input type="text" pInputText id="reference" [(ngModel)]="collectionOrder.reference" />
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="debtorAccount">Cuenta cliente</label>
                <input type="text" pInputText id="debtorAccount" [(ngModel)]="collectionOrder.debtorAccount" autofocus />
            </div>
            <div class="field col">
                <label for="paymentWay">Forma de pago</label>
                <p-dropdown [options]="paymentWays" [(ngModel)]="selectedPaymentWay" placeholder="Seleccionar forma de pago" optionValue="id" optionLabel="name" required></p-dropdown>
                <small class="p-error" *ngIf="submitted && !collectionOrder.paymentWay">Campo requerido.</small>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button" (click)="create()"></button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
