<p-toast position="top-center" key="tc"></p-toast>
<div
  class="flex flex-wrap border-noround min-h-screen bg-teal-50 align-items-center justify-content-center align-content-center"
>
  <div class="card-container overflow-hidden">
    <div class="flex flex-wrap justify-content-center vertical-align-middle">
      <div
        class="flex-initial flex align-items-center justify-content-center border-round md-12 md:col-4 mb-3"
      >
        <div
          class="bg-contain bg-no-repeat bg-center h-5rem w-screen"
          style="background-image: url('assets/img/default.png')"
        ></div>
      </div>
    </div>
    <div class="flex flex-wrap justify-content-center vertical-align-middle">
      <p-card class="md-12 md:col-4 mt-3" styleClass="p-card-shadow">
        <h3 class="text-center">Iniciar Sesión</h3>
        <p-tabView (onChange)="tabChange($event)">
          <p-tabPanel leftIcon="pi pi-building" header="Cash Management">
            <p class="text-center">Sistema de Cash Management</p>
            <form (ngSubmit)="login()" [formGroup]="loginForm">
              <div class="p-fluid">
                <div class="field">
                  <div class="col-12">
                    <p for="username">Usuario</p>
                    <span class="p-input-icon-right mb-3">
                      <i class="pi pi-user"></i>
                      <input
                        id="username"
                        formControlName="username"
                        type="text"
                        pInputText
                        placeholder="Nombre de usuario"
                        styleClass="w-full"
                        [ngClass]="{
                          'ng-invalid ng-dirty': isInvalidField('username')
                        }"
                      />
                    </span>
                    <div *ngIf="isInvalidField('username')">
                      <small id="username-help" class="p-error">
                        Este campo es obligatorio.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="col-12">
                    <p for="password">Contraseña</p>
                    <div class="mb-3">
                      <p-password
                        id="password"
                        [feedback]="false"
                        formControlName="password"
                        placeholder="Contraseña"
                        [toggleMask]="true"
                        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                        [ngClass]="{
                          'ng-invalid ng-dirty': isInvalidField('password')
                        }"
                      ></p-password>
                    </div>

                    <div *ngIf="isInvalidField('password')">
                      <small id="username-help" class="p-error">
                        Este campo es obligatorio.
                      </small>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="col-12">
                    <p-button
                      [loading]="isLoading"
                      type="submit"
                      sub
                      class="min-w-max"
                      label="Ingresar"
                    ></p-button>
                  </div>
                </div>
                <button
                  pButton
                  pRipple
                  type="button"
                  label="O registra tu empresa"
                  class="p-button-help p-button-text"
                  (click)="router.navigate(['/pages/register'])"
                ></button>
              </div>
            </form>
          </p-tabPanel>
          <p-tabPanel leftIcon="pi pi-briefcase" header="Banca Web">
            <p class="text-center">Banca Web</p>
            <form (ngSubmit)="login()" [formGroup]="loginForm">
              <div class="p-fluid">
                <div class="field">
                  <div class="col-12">
                    <p for="username">Usuario</p>
                    <span class="p-input-icon-right mb-3">
                      <i class="pi pi-user"></i>
                      <input
                        id="username"
                        formControlName="username"
                        type="text"
                        pInputText
                        placeholder="Nombre de usuario"
                        styleClass="w-full"
                        [ngClass]="{
                          'ng-invalid ng-dirty': isInvalidField('username')
                        }"
                      />
                    </span>
                    <div *ngIf="isInvalidField('username')">
                      <small id="username-help" class="p-error">
                        Este campo es obligatorio.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="col-12">
                    <p for="password">Contraseña</p>
                    <div class="mb-3">
                      <p-password
                        id="password"
                        [feedback]="false"
                        formControlName="password"
                        placeholder="Contraseña"
                        [toggleMask]="true"
                        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                        [ngClass]="{
                          'ng-invalid ng-dirty': isInvalidField('password')
                        }"
                      ></p-password>
                    </div>

                    <div *ngIf="isInvalidField('password')">
                      <small id="username-help" class="p-error">
                        Este campo es obligatorio.
                      </small>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="col-12">
                    <p-button
                      [loading]="isLoading"
                      type="submit"
                      sub
                      class="min-w-max"
                      label="Ingresar"
                    ></p-button>
                  </div>
                </div>
              </div>
            </form>
          </p-tabPanel>
        </p-tabView>
      </p-card>
    </div>
  </div>
</div>
