<p-toast position="top-center" key="register-toast"></p-toast>
<div
  class="flex flex-wrap border-noround min-h-screen bg-teal-50 align-items-center justify-content-center align-content-center"
>
  <div class="card-container overflow-hidden">
    <div class="flex flex-wrap justify-content-center vertical-align-middle">
      <div
        class="flex-initial flex align-items-center justify-content-center border-round md-12 md:col-6 mb-3"
      >
        <div
          class="bg-contain bg-no-repeat bg-center h-5rem w-screen"
          style="background-image: url('assets/img/default.png')"
        ></div>
      </div>
    </div>
    <div class="flex flex-wrap justify-content-center vertical-align-middle">
      <form [formGroup]="registerCompanyForm">
        <p-card class="" styleClass="p-card-shadow mt-3">
          <h3 class="text-center">Inscripción de empresa</h3>
          <p class="text-center">Sistema de Cash Management</p>
          <div class="p-fluid">
            <!-- RUC -->
            <div class="field">
              <div class="col-12">
                <p class="font-bold" for="ruc">RUC</p>
                <div class="mb-1">
                  <span class="p-input-icon-right">
                    <i *ngIf="isLoading" class="pi pi-spin pi-spinner"></i>
                    <input
                      (keypress)="acceptOnlyNumericValues($event)"
                      [ngClass]="{
                        'ng-invalid ng-dirty': isInvalidField('ruc')
                      }"
                      pInputText
                      formControlName="ruc"
                      placeholder="XXXXXXXXXX001"
                    />
                  </span>
                </div>

                <small *ngIf="group !== null" class="block">
                  Grupo <span class="font-bold">{{ group.name }}</span>
                </small>

                <small
                  *ngIf="isInvalidField('ruc')"
                  id="ruc-help"
                  class="p-error"
                >
                  {{ getFieldErrors("ruc") }}
                </small>
              </div>
            </div>

            <p-divider align="center">
              <div class="inline-flex align-items-center">
                <i class="pi pi-money-bill mr-2"></i>
                <b>Cuenta</b>
              </div>
            </p-divider>

            <!-- Tipo de cuenta -->
            <div class="col-12">
              <p class="font-bold">Tipo</p>
              <p-dropdown
                [options]="accountTypes"
                optionLabel="name"
                optionValue="value"
                formControlName="accountType"
                styleClass="w-full"
              ></p-dropdown>
              <small
                *ngIf="isInvalidField('accountType')"
                id="ruc-help"
                class="p-error"
              >
                {{ getFieldErrors("accountType") }}
              </small>
            </div>

            <!-- Número de cuenta -->
            <div class="field">
              <div class="col-12">
                <p class="font-bold" for="documentId">Número</p>
                <span class="p-input-icon-left mb-1">
                  <i class="pi pi-wallet"></i>
                  <input
                    (keypress)="acceptOnlyNumericValues($event)"
                    [ngClass]="{
                      'ng-invalid ng-dirty': isInvalidField('accountNumber')
                    }"
                    pInputText
                    formControlName="accountNumber"
                    placeholder="XXXXXXXXXXXXXXX"
                  />
                </span>
                <small
                  *ngIf="isInvalidField('accountNumber')"
                  id="ruc-help"
                  class="p-error"
                >
                  {{ getFieldErrors("accountNumber") }}
                </small>
              </div>
            </div>

            <div class="field">
              <div class="col-12">
                <p-button
                  [loading]="isRegisteringCompany"
                  type="submit"
                  sub
                  class="min-w-max"
                  label="Enviar"
                  (click)="register()"
                ></p-button>
              </div>
            </div>

            <button
              pButton
              pRipple
              type="button"
              label="Regresar"
              class="p-button-help p-button-text"
              (click)="router.navigate(['pages', 'login'])"
            ></button>
          </div>
        </p-card>
      </form>
    </div>
  </div>
</div>
