<p-toast position="top-center" key="toast-payments"></p-toast>
<div class="card">
    <form #loadOrder="ngForm" novalidate>
        <h5>Carga de Ordenes</h5>
        <div class="p-fluid">
            <div class="field mt-2 px-4">
                <div class="flex flex-column" *ngIf="accountsByGroupId$ | async">
                    <div class="grid p-fluid mt-2"
                        [style]="isPaymentCreated ? 'pointer-events: none; opacity: 0.5;' : ''">
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Servicio: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <p-dropdown [options]="services" required [(ngModel)]="selectedService"
                                placeholder="Servicio" name="services"></p-dropdown>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Cuenta: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <p-dropdown [options]="accounts" required [(ngModel)]="selectedAccount" placeholder="Cuenta"
                                name="accounts"></p-dropdown>
                        </div>
                        <div class="field col-12 md:col-2">
                            <p style="text-align:right;" required [(ngModel)]="processDate" class="pt-3 mr-2"
                                name="init">
                                Fecha del
                                proceso: </p>
                        </div>
                        <div class="field col-12 md:col-4">
                            <p-calendar class=" mr-5" required [(ngModel)]="processDate" [showIcon]="true"
                                [showButtonBar]="true" name="initcalendar"></p-calendar>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Referencia: </p>
                        </div>
                        <div class="field col-12 md:col-4">
                            <input type="text" pInputText [(ngModel)]="reference" required placeholder="Referencia"
                                name="reference">
                        </div>
                    </div>
                    <div class="flex flex-row justify-content-center">
                        <ng-container *ngIf="isPaymentCreated; else isnotpay">
                            <p-fileUpload #fileUpload mode="basic" name="demo[]" class="mr-4" accept=".csv"
                                maxFileSize="500000000" (onSelect)="uploadFile($event, loadOrder)" [auto]="true"
                                chooseLabel="Cargar por archivo"></p-fileUpload>
                            <ng-container *ngIf="uploadToggle; else notup">
                                <button pButton pRipple label="Procesar Archivo" class="min-w-min mx-3 w-3"
                                    (click)="processFile()"></button>
                            </ng-container>
                            <ng-template #notup>
                                <button pButton pRipple label="Cargar por Teclado" class="min-w-min mx-3 w-3"
                                    [disabled]="!loadOrder.valid && reference===''" (click)="showLoadDialog()"></button>
                            </ng-template>
                        </ng-container>
                        <ng-template #isnotpay>
                            <button pButton pRipple label="Crear Pago" class="min-w-min mx-3 w-3"
                                [disabled]="!loadOrder.valid && reference===''" (click)="generatePay()"></button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="card" *ngIf="paymentsOrder.length != 0">
    <p-table [value]="paymentsOrder" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        responsiveLayout="scroll" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
            Órdenes
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Contrapartida</th>
                <th>Valor</th>
                <th>Tipo de cuenta</th>
                <th>Nro. Cuenta</th>
                <th>Tipo identificación</th>
                <th>Identificación</th>
                <th>Beneficiario</th>
                <th>Referencia</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-paymentOrder>
            <tr>
                <td>{{paymentOrder.referenceId}}</td>
                <td>{{paymentOrder.amount | currency}}</td>
                <td>{{paymentOrder.creditorAccountType === 'AHO' ? 'Ahorros' : 'Corriente'}}</td>
                <td>{{paymentOrder.creditorAccount}}</td>
                <td>{{paymentOrder.creditorIdentificationType === 'CED' ? 'Cédula' : (this.selectedIdType === 'PAS' ?
                    'Pasaporte' : 'Otro')}}</td>
                <td>{{paymentOrder.creditorIdentification}}</td>
                <td>{{paymentOrder.creditorName}}</td>
                <td>{{paymentOrder.description}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog header="Carga de ordenes - Por teclado" [(visible)]="displayLoad" [breakpoints]="{'960px': '75vw'}"
    [style]="{width: '50vw'}" [draggable]="true" [resizable]="false">
    <form #loadKeyboard="ngForm" novalidate>
        <div class="p-fluid">
            <div class="field mt-2 px-4">
                <div class="flex flex-column">
                    <div class="grid p-fluid mt-2">
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Contrapartida: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <input type="text" pInputText placeholder="Contrapartida" required
                                [(ngModel)]="referencecont" name="referenceIdForm">
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Nro. de Cuenta: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <input type="text" pInputText placeholder="Número de Cuenta" required
                                [(ngModel)]="accountForm" name="accountForm">
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Valor a pagar: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <input type="text" pInputText required [(ngModel)]="payValue" placeholder="Valor a pagar"
                                name="payvalue">
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Tipo de cuenta: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <p-dropdown [options]="accountType" required [(ngModel)]="selectedAccountType"
                                placeholder="Tipo de Cuenta" name="accounttype"></p-dropdown>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Identificación: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <input type="text" pInputText required [(ngModel)]="identificationForm"
                                placeholder="Identificación" name="identificationForm">
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Tipo de identificación: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <p-dropdown [options]="idType" required [(ngModel)]="selectedIdType"
                                placeholder="Tipo de ID" name="idType"></p-dropdown>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Email: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <input type="email" pInputText required [(ngModel)]="emailForm" placeholder="Email"
                                name="emailForm">
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Beneficiario: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <input type="text" pInputText required [(ngModel)]="benef" name="benefict"
                                placeholder="Beneficiario">
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2">Descripción: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <input type="text" pInputText placeholder="Descripción" required [(ngModel)]="description"
                                name="description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-content-end">
            <p-button (click)="displayLoad=false" label="Procesar" [disabled]="!loadKeyboard.valid"
                styleClass="p-buttont" (onClick)="keyboardSubmit()"></p-button>
            <p-button (click)="displayLoad=false" label="Cancelar" styleClass="p-button-text"></p-button>
        </div>
    </form>
</p-dialog>