<div class="card">
    <form #paymentBasic="ngForm" novalidate>
        <h5>Agregar registro de pago a servicios básicos</h5>
        <div class="p-fluid">
            <div class="field mt-2 px-4">
                <div class="flex flex-column">
                    <div [style]="enterToggle ? 'pointer-events: none; opacity: 0.5;' : ''">
                        <div class="flex flex-row justify-content-around mt-3 ">
                            <div class="flex flex-row">
                                <p class="pt-3 mr-5">Servicio:</p>
                                <p-dropdown placeholder="Seleccione" (onChange)="serviceChange()" required [options]="services" [(ngModel)]="selectedService" name="service"></p-dropdown>
                            </div>
                            <div class="flex flex-row">
                                <p class="pt-3 mr-5">Empresa:</p>
                                <input pInputText [(ngModel)]="business" required id="description" type="text" name="description" disabled="false"/>
                            </div>
                        </div>
                        <div class="flex flex-row justify-content-center mt-3">
                            <button pButton pRipple label="Ingresar" class="m-auto w-2"
                            [disabled]="selectedService===''" (click)="enterButton()" ></button>
                        </div>
                    </div>
                    <ng-container *ngIf="enterToggle">
                        <div class="w-3"></div>
                        <div class="flex flex-row justify-content-around mt-3">
                        <div class="flex flex-row">
                            <p class="pt-3 mr-6">Contrapartida</p>
                            <input pInputText [(ngModel)]="referenceid" required placeholder="Ingrese" id="referenceid" type="text" name="referenceid" />
                        </div>
                        <div class="flex flex-row">
                            <p class="pt-3 mr-6">Valor máx.</p>
                            <input pInputText [(ngModel)]="amount" required placeholder="Ingrese" id="amount" type="number" name="amount"/>
                        </div>
                        </div>
                        <div class="flex flex-row justify-content-around mt-3">
                            <div class="flex flex-row">
                                <p class="pt-3 mr-6">Descripción</p>
                                <input pInputText [(ngModel)]="description" required placeholder="Ingrese" id="username" type="text" name="description" />
                            </div>
                            <div class="flex flex-row">
                                <p class="pt-3 mr-5">Cuenta a debitar</p>
                                <p-dropdown [options]="accounts" [(ngModel)]="selectedAccount" required placeholder="Seleccione" name="accn"></p-dropdown>
                            </div>
                        </div>
                        <div class="flex flex-row justify-content-between mt-5">
                            <div class="flex flex-row m-auto">
                                <p class="pt-3 mr-6">Email</p>
                                <input pInputText [(ngModel)]="email" required placeholder="Email" id="email" type="email" name="email" />
                            </div>
                        </div>
                        <div class="flex flex-row justify-content-between mt-5">
                            <button pButton pRipple label="Guardar"
                                    [disabled]="!paymentBasic.valid"
                                (click)="saveButton()" class="m-auto w-2"></button>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </form>
</div>
