<p-toast position="top-right" key="users-toast"></p-toast>
<div class="card">
    <div class="p-fluid">
        <div class="field">
            <div class="flex flex-row justify-content-between">
                <h2>Gestión de Usuarios</h2>
                <i class="pi pi-building text-5xl"></i>
            </div>
            <p-divider></p-divider>
            <div class="flex flex-column">
                <div class="flex flex-row align-text-top ml-3">
                    <h3 *ngIf="company !== null" class="">
                        {{ company.companyName }}
                    </h3>
                </div>

                <div class="flex flex-row justify-content-between">
                    <div class="flex flex-row ml-3">
                        <div class="flex flex-column">
                            <h5>Representante Legal</h5>
                            <p *ngIf="representative !== null">
                                {{ representative.name }}
                            </p>
                        </div>

                        <p-divider layout="vertical"></p-divider>

                        <div class="flex flex-column ml-3">
                            <h5>RUC</h5>
                            <p *ngIf="company !== null">
                                {{ company.companyRuc }}
                            </p>
                        </div>
                    </div>
                    <button (click)="redirectToNewUser()" pButton pRipple label="Crear" class="w-2 my-3"></button>
                </div>
                <br />
                <p-table [value]="users">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 200px">Nombre</th>
                            <th style="width: 200px">Usuario</th>
                            <th style="width: 200px">Rol</th>
                            <th style="width: 200px"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr>
                            <td style="width: 200px">
                                {{ user.name }}
                            </td>
                            <td style="width: 200px">
                                {{ user.username }}
                            </td>
                            <td style="width: 200px">{{ user.roleName }}</td>
                            <td>
                                <div>
                                    <button pButton pRipple icon="pi pi-ban" class="p-button-rounded p-button-danger" *ngIf="user.role !== 'RPL'"
                                        (click)="blockUser(user)" pTooltip="Bloquear" tooltipPosition="top">
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Datos de usuario" [(visible)]="displayLoad" [breakpoints]="{'960px': '80vw'}"
    [style]="{width: '50vw', height: '32vw'}" [draggable]="true" [resizable]="false">
    <form #loadKeyboard="ngForm" (ngSubmit)="newUser()" [formGroup]="newUserForm" novalidate>
        <div class="p-fluid">
            <div class="field mt-3">
                <div class="flex flex-column">
                    <div class="flex flex-column m-auto">
                        <span class="p-float-label  mb-3">
                            <input pInputText id="username" formControlName="username" type="text"/>
                            <label htmlFor="username">Nombre de Usuario</label>
                        </span>
                        <span class="p-float-label mb-3">
                            <input pInputText id="name" formControlName="name" type="text" />
                            <label htmlFor="name">Nombre</label>
                        </span>
                        <span class="p-float-label mb-3">
                            <input pInputText id="mail" formControlName="mail" type="email" />
                            <label htmlFor="mail">Correo</label>
                        </span>
                        <p-dropdown id="roles" formControlName="rol" [options]="roles" placeholder="Rol" class="mb-3">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-row justify-content-between">
                        <button pButton pRipple label="Enviar" class="m-auto w-2"></button>
                    </div>
                    <br/><br />
                    <div class="flex flex-column">
                        <div class="flex flex-column m-auto">
                            <div class="p-float-label mb-3" *ngIf="newPassword !== null">
                                <h5>Contraseña generada</h5>
                                <br />
                                <center>
                                    <p>
                                        {{ newPassword }}
                                    </p>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</p-dialog>
