<div class="card">
    <p-toast></p-toast>
    <form #reportPayments="ngForm" novalidate>
        <h5>Reporte de pagos</h5>
        <div class="p-fluid">
            <div class="field mt-2 px-4">
                <div class="flex flex-column">
                    <div class="flex flex-row justify-content-around mt-3">
                        <div class="flex flex-row">
                            <p class="pt-3 mr-5">Servicio</p>
                            <p-dropdown [options]="services" [(ngModel)]="selectedService" name="services" required
                                placeholder="Seleccione">
                            </p-dropdown>
                        </div>
                        <div class="flex flex-row">
                            <p class="pt-3 mr-5">Estado de Orden</p>
                            <p-dropdown [options]="orderStates" [(ngModel)]="orderState" name="states" required
                                placeholder="Seleccione"></p-dropdown>
                        </div>
                    </div>
                    <div class="w-3"></div>
                    <div class="flex flex-row justify-content-around mt-3">
                        <div class="flex flex-row m-auto">
                            <p class="pt-3 mr-5">Fecha Desde</p>
                            <p-calendar class=" mr-5" required [(ngModel)]="initDate" name="initcalendar"
                                [showIcon]="true" [showButtonBar]="true"></p-calendar>
                        </div>
                        <div class="flex flex-row">
                            <p class="pt-3 mr-5">Fecha Hasta</p>
                            <p-calendar class=" mr-5" required [(ngModel)]="finishDate" name="finishDate"
                                [showIcon]="true" [showButtonBar]="true"></p-calendar>
                        </div>
                    </div>
                    <div class="flex flex-row justify-content-between">
                        <div class="flex flex-row m-auto mt-5">
                            <p class="pt-3 mr-6">Orden</p>
                            <input pInputText required [(ngModel)]="idOrder" name="idOrder"
                                placeholder="Ingrese el código de la orden" type="text" />
                        </div>
                        <div class="flex flex-row m-auto mt-5">
                            <p class="pt-3 mr-6">Referencia</p>
                            <input pInputText required [(ngModel)]="reference" name="reference"
                                placeholder="Ingrese la Referencia" type="text" />
                        </div>
                    </div>
                    <div class="flex flex-row justify-content-between mt-5">
                        <button pButton pRipple label="Consultar" (click)="query()" class="m-auto w-2"></button>
                    </div>
                </div>
                <p-divider></p-divider>
                <div *ngIf="toggleReport">
                    <h5>Detalle de Órdenes</h5>
                    <div class="flex flex-column mt-6">
                        <p-table [value]="paymentsOrders" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                            responsiveLayout="scroll"
                            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados"
                            [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>#</th>
                                    <th>Servicio</th>
                                    <th>Referencia</th>
                                    <th>Estado</th>
                                    <th>Cuenta Origen</th>
                                    <th>Órdenes procesadas</th>
                                    <th *ngIf="orderStateQueried==='APROBADO'">Órdenes fallidas</th>
                                    <th>Valor total</th>
                                    <th *ngIf="orderStateQueried==='APROBADO'">Valor procesado</th>
                                    <th>Fecha de proceso</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-i="rowIndex" let-payment>
                                <tr>
                                    <td>{{i + 1}}</td>
                                    <td>{{payment.serviceName}}</td>
                                    <td>{{payment.serviceDescription}}</td>
                                    <td>{{payment.state === 'APP' ? 'APROBADO' : 'PENDIENTE'}}</td>
                                    <td>{{payment.debtorAccount}}</td>
                                    <td>{{payment.records}}</td>
                                    <td *ngIf="orderStateQueried==='APROBADO'">{{payment.failedRecords}}</td>
                                    <td>{{payment.totalPaymentValue | currency}}</td>
                                    <td *ngIf="orderStateQueried==='APROBADO'">{{payment.paidValue | currency}}
                                    </td>
                                    <td>{{payment.processDate | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="loadingbody">
                                <p-progressSpinner></p-progressSpinner>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <p>No se han encontrado registros con los parámetros indicados.</p>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>