<div class="card">
    <div class="p-fluid">
        <div class="field mt-3">
            <div class="flex flex-column">
                <div class="mx-auto mt-8 -mb-3">
                    <h4>Bienvenido a</h4>
                </div>
                <div class="mx-auto">
                    <img src="assets/img/{{appMain.config.dark ? 'white' : 'default'}}.png" alt="logo" class="logo">
                </div>
                <div class="mx-auto mb-8">
                    <p>Innovando tu libertad financiera</p>
                </div>
            </div>
        </div>
    </div>
</div>
