<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium"
    color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<div class="card">
    <h5>Reporte de diario del Libro Mayor</h5>
    <div class="p-fluid">
        <div class="field mt-2 px-4">
            <div class="flex flex-column">
                <div class="flex flex-column justify-content-between">
                    <div class="flex flex-row justify-content-between">
                        <p class="pt-3 mr-5">Fecha de contabilización</p>
                        <div class="flex flex-row m-auto">
                            <p class="pt-3 mr-5">Desde:</p>
                            <p-calendar class=" mr-5" [(ngModel)]="from" [showIcon]="true" [showButtonBar]="true"></p-calendar>
                            <p class="pt-3 mr-5">Hasta:</p>
                            <p-calendar class=" mr-5" [(ngModel)]="to" [showIcon]="true" [showButtonBar]="true"></p-calendar>
                            <button pButton pRipple label="Buscar" (click)="search()" class="w-2"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-column mt-2">
                <p-table #dt [columns]="cols" [value]="reportGLA" [exportFilename]="nameDocument" responsiveLayout="scroll" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between">
                            <span class="m-0">
                                Diario del Libro Mayor: {{from ? from.toISOString().split('T')[0] : 'Fecha de Inicio'}} - {{to ? to.toISOString().split('T')[0] : 'Fecha Fin'}}
                            </span>
                            <p-button
                                type="submit"
                                label="Generar Reporte" 
                                (click)="validDates && dt.exportCSV()" 
                                icon="pi pi-file" 
                                class="p-button-success min-w-min"
                                [disabled]="!validDates">
                            </p-button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Código</th>
                            <th>Fecha</th>
                            <th>Concepto</th>
                            <th>Debe</th>
                            <th>Haber</th>
                            <th>Saldo Cuenta</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-report>
                        <tr>
                            <td>{{report.accountCode}}</td>
                            <td>{{report.accountingDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{report.memo}}</td>
                            <td>{{report.debit < 0 ? ('(' + (report.debit*-1  | currency: 'USD') + ')') : report.debit  | currency: 'USD'}}</td>
                            <td>{{report.credit < 0 ? ('(' + (report.credit*-1  | currency: 'USD') + ')') : report.credit  | currency: 'USD'}}</td>
                            <td>{{report.accountBalance < 0 ? ('(' + (report.accountBalance*-1  | currency: 'USD') + ')') : report.accountBalance  | currency: 'USD'}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="3" class="text-right">
                                <div *ngIf="reportGLA.length > 0">
                                    Total
                                </div>
                            </td>
                            <td>{{debitTotal | currency: 'USD'}}</td>
                            <td>{{creditTotal | currency: 'USD'}}</td>
                            <td>{{balanceTotal | currency: 'USD'}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
