<div class="card">
    <p-toast></p-toast>
    <form #reportPayments="ngForm" novalidate>
        <h5>Reporte de Movimientos</h5>
        <div class="p-fluid">
            <div class="field mt-2 px-4">
                <div class="flex flex-column">
                    <div class="flex flex-row justify-content-around mt-3">
                        <div class="flex flex-row">
                            <p class="pt-3 mr-5">Estado de Movimiento</p>
                            <p-dropdown [options]="orderState" [(ngModel)]="selectedOrderState" name="states" required
                                (onChange)="isPen()" placeholder="Seleccione"></p-dropdown>
                        </div>
                        <div class="flex flex-row">
                            <p class="pt-3 mr-6">ID Orden</p>
                            <input pInputText required [(ngModel)]="idOrder" name="idOrder"
                                placeholder="Ingrese la Referencia" id="username" type="text" />
                        </div>
                    </div>
                    <div class="w-3"></div>
                    <div class="flex flex-row justify-content-around mt-3">
                        <div class="flex flex-row m-auto">
                            <p class="pt-3 mr-5">Fecha Desde</p>
                            <p-calendar required [(ngModel)]="initDate" name="initcalendar" class=" mr-5"
                                [showIcon]="true" [showButtonBar]="true" [disabled]="!dateToggle"></p-calendar>
                        </div>
                        <div class="flex flex-row">
                            <p class="pt-3 mr-5">Fecha Hasta</p>
                            <p-calendar required [(ngModel)]="finishDate" name="finishDate" class=" mr-5"
                                [showIcon]="true" [showButtonBar]="true" [disabled]="!dateToggle"></p-calendar>
                        </div>
                    </div>
                    <div class="flex flex-row justify-content-between mt-5">
                        <button pButton pRipple label="Procesar" (click)="query()" class="m-auto w-2"></button>
                    </div>
                </div>
                <p-divider></p-divider>
                <div *ngIf="toggleReport">
                    <h5>Detalle de Movimientos</h5>
                    <div class="flex flex-column mt-6">
                        <p-table [value]="paymentsOrders" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                            responsiveLayout="scroll"
                            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados"
                            [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>#</th>
                                    <th>Contrapartida</th>
                                    <th>Descripción</th>
                                    <th>Identificación</th>
                                    <th>Nombre</th>
                                    <th>Cuenta beneficiario</th>
                                    <th>Monto</th>
                                    <th>Estado</th>
                                    <th *ngIf="orderStateQueried!=='PENDIENTE';"> Fecha de proceso</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-i="rowIndex" let-paymet>
                                <tr>
                                    <td>{{i + 1}}</td>
                                    <td>{{paymet.referenceId}}</td>
                                    <td>{{paymet.description}}</td>
                                    <td>{{paymet.creditorIdentification}}</td>
                                    <td>{{paymet.creditorName}}</td>
                                    <td>{{paymet.creditorAccount}}</td>
                                    <td>{{paymet.amount | currency}}</td>
                                    <td>{{paymet.state === 'DON' ? 'REALIZADO' : (paymet.state === 'PEN' ? 'PENDIENTE' :
                                        'FALLIDO')}}</td>
                                    <td *ngIf="orderStateQueried!=='PENDIENTE'">{{paymet.paymentDate | date:
                                        'dd/MM/yyyy' }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>