<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img
            src="assets/img/{{ appMain.config.dark ? 'white' : 'black' }}.png"
            alt="logo"
        />
    </a>
    <a class="p-link layout-topbar-button" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>
    <a
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="appMain.toggleTopMenu($event)"
    >
        <i class="pi pi-ellipsis-v"></i>
    </a>
    <div class="layout-topbar-menu">
        <a class="p-link layout-topbar-button" (click)="toggleDarkMode()">
            <i [class]="config.dark ? 'pi pi-sun' : 'pi pi-moon'"></i>
            <span>darkmode</span>
        </a>
        <p-splitButton
            [label]="user?.username ?? 'Invitado'"
            icon="pi pi-user"
            [model]="itemsUser"
            styleClass="p-button-text mr-2 mb-2"
        ></p-splitButton>
    </div>
</div>
