<p-toast position="top-center" key="transactions-toast"></p-toast>
<div class="card">
    <h5>Posición consolidada</h5>
    <div class="p-fluid">
        <div class="field mt-3">
            <div class="h-2rem"></div>
            <div class="flex flex-column">
                <div class="grid p-fluid">
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Cuentas: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <p-dropdown [options]="accountNumbers" [(ngModel)]="selectedAccount" placeholder="Escoja una cuenta"></p-dropdown>
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Tipo de Transacción: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <p-dropdown [options]="transactionType" [(ngModel)]="selectedTransaction" placeholder="Tipo de Transacción"></p-dropdown>
                    </div>
                    <div class="field col-6 md:col-2">
                        <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Tipo de Consulta: </p>
                    </div>
                    <div class="field col-6 md:col-4">
                        <p-dropdown [options]="searchType" [(ngModel)]="selectedSearch" placeholder="Tipo de Consulta"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6" *ngIf="selectedSearch == 'DAT'">
                        <div class="grid p-fluid">
                            <div class="field col-12 md:col-4">
                                <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Rango de Fechas: </p>
                            </div>
                            <div class="field col-12 md:col-4">
                                <p-calendar class=" mr-5" [showIcon]="true" [showButtonBar]="true"></p-calendar>
                            </div>
                            <div class="field col-12 md:col-4">
                                <p-calendar class="" [showIcon]="true" [showButtonBar]="true"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row justify-content-between">
                    <button pButton pRipple (click)="listTransactions()" label="Consultar" class="m-auto w-2 min-w-min"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card">
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="dt.exportCSV()" class="mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
            </ng-template>
        </p-toolbar>
        <p-table styleClass="p-datatable-sm" responsiveLayout="scroll" [value]="accountTransactions">
            <ng-template pTemplate="caption">
                <div class="flex">
                    Solicitud de corte de estado de cuenta
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Fecha</th>
                    <th>Referencia</th>
                    <th>Descripción</th>
                    <th>Canal</th>
                    <th>Documento</th>
                    <th>Monto</th>
                    <th>Saldo Contable</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transaction>
                <tr>
                    <td>
                        {{ transaction.creationDate | date }}
                    </td>
                    <td>
                        {{ transaction.reference }}
                    </td>
                    <td>
                        {{ transaction.reference }}
                    </td>
                    <td>
                        {{ transaction.channel}}
                    </td>
                    <td>
                        {{ transaction.documentNumber }}
                    </td>
                    <td>
                        {{ transaction.amount }}
                    </td>
                    <td>
                        {{ transaction.amount }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
