
<div class="field mt-2 px-4">
<div class="flex flex-column">
    <p-table [value]="data" responsiveLayout="sc*roll">
        <ng-template pTemplate="header">
            <tr>
                <th>Empresa a Pagar</th>
                <th>Contrapartida</th>
                <th>Descripción</th>
                <th>Cuenta</th>
                <th>Monto máximo autorizado</th>
                <th>Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{data.reference}}</td>
                <td>{{data.service}}</td>
                <td>{{data.channel}}</td>
                <td>{{data.periodic}}</td>
                <td>{{data.account}}</td>
                <td><button pButton pRipple label="Guardar" class="w-5 m-auto"></button></td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>