<div class="card">
    <h5>Registro de Pagos Recurrentes</h5>
    <div class="p-fluid">
        <div class="field mt-2 px-4">
            <div class="flex flex-column">
                <p-table [value]="data" responsiveLayout="sc*roll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Servicio</th>
                            <th>Contrapartida</th>
                            <th>Monto Máximo</th>
                            <th>Día del Mes a pagar</th>
                            <th>Cuenta a debitar</th>
                            <th>Estador</th>
                            <th>Habilitar/Deshabilitar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{data.reference}}</td>
                            <td>{{data.service}}</td>
                            <td>{{data.channel}}</td>
                            <td>{{data.periodic}}</td>
                            <td>{{data.account}}</td>
                            <td>{{data.ref}}</td>
                            <p-toggleButton [(ngModel)]="valToggle" onLabel="Yes" offLabel="No" [style]="{width:'10em'}"></p-toggleButton>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
