<p-toast></p-toast>
<div class="card">
    <h5>Configuración de Libro Mayor</h5>
    <div>
        <p-messages [(value)]="notification" [enableService]="false"></p-messages>
    </div>
    <div class="p-fluid">
        <div class="field mt-3 px-7">
            <form (ngSubmit)="f.form.valid && save()" #f="ngForm">
                <div class="flex flex-column">
                    <div class="grid p-fluid">
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Tipo de cuenta: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <p-dropdown [options]="validTypes" name="typeAccount" [(ngModel)]="generalLedger.type"
                                optionValue="id" optionLabel="name" placeholder="Tipo de cuenta" [showClear]="true"
                                required [disabled]="!existTypes">
                            </p-dropdown>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Cuenta: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <p-inputNumber name="account" [(ngModel)]="generalLedger.code" mode="decimal" inputId="code" [disabled]="!existTypes"
                                [useGrouping]="false" [min]="0" class="ng-invalid ng-dirty" aria-describedby="name-help"></p-inputNumber>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Nombre: </p>
                        </div>
                        <div class="field col-6 md:col-10">
                            <input type="text" name="name" [(ngModel)]="generalLedger.name" pInputText
                                placeholder="Nombre de la cuenta" [disabled]="!existTypes" required>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Descripción: </p>
                        </div>
                        <div class="field col-6 md:col-10">
                            <textarea rows="3" name="description" [(ngModel)]="generalLedger.description" cols="30"
                                pInputTextarea [disabled]="!existTypes"></textarea>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Saldo inicial: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <p-inputNumber name="openingBalance" [(ngModel)]="generalLedger.openingBalance"
                                inputId="openingBalance" mode="currency" currency="USD" locale="en-US"
                                placeholder="Saldo inicial" required [disabled]="!existTypes"></p-inputNumber>
                        </div>
                        <div class="field col-6 md:col-2">
                            <p style="text-align:right;" class="pt-3 mr-2" for="integeronly">Saldo actual: </p>
                        </div>
                        <div class="field col-6 md:col-4">
                            <p-inputNumber name="currentBalance" [(ngModel)]="generalLedger.currentBalance"
                                inputId="openingBalance" mode="currency" currency="USD" locale="en-US"
                                placeholder="Saldo actual" required [disabled]="!existTypes"></p-inputNumber>
                        </div>
                    </div>
                    <div class="flex flex-row justify-content-between">
                        <button type="submit" pButton pRipple label="Guardar Configuración" class="m-auto w-3" [disabled]="!existTypes"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="card">
    <p-table [value]="accounts" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            Lista de cuentas configuradas
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Código</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Balance inicial</th>
                <th>Balance actual</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-account>
            <tr>
                <td>{{account.code}}</td>
                <td>{{account.name}}</td>
                <td>{{account.description}}</td>
                <td>{{account.openingBalance | currency: 'USD'}}</td>
                <td>{{account.currentBalance | currency: 'USD'}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>