<div class="card">
    <h5>Nueva Orden</h5>
    <div class="p-fluid">
        <div class="field mt-3 px-7">
            <div class="flex flex-column">
                <div class="flex flex-row justify-content-between mt-5">
                    <div class="flex flex-row">
                        <p class="pt-3 mr-5">Contrapartida</p>
                        <input pInputText id="username" type="text" />
                    </div>
                    <div class="w-2rem"></div>
                    <div class="flex flex-row">
                        <p class="pt-3 mr-5">Identificación del Cliente</p>
                        <input pInputText id="username" type="text" />
                    </div>
                </div>
                <div class="flex flex-row justify-content-between mt-5">
                    <div class="flex flex-row">
                        <p class="pt-3 mr-5">Tipo de Identificación</p>
                        <p-dropdown placeholder="Seleccione"></p-dropdown>
                    </div>
                    <div class="w-2rem"></div>
                    <div class="flex flex-row">
                        <p class="pt-3 mr-5">Nombre del cliente</p>
                        <input pInputText id="username" type="text" />
                    </div>
                </div>
                <div class="flex flex-row justify-content-between mt-3">
                    <div class="flex flex-column m-auto">
                        <p class="pt-3 mr-5">Fecha de Inicio de Cobro</p>
                        <p-calendar class=" mr-5" [showIcon]="true" [showButtonBar]="true"></p-calendar>
                    </div>
                    <div class="flex flex-row m-auto">
                        <p class="pt-3 mr-5">Contrapartida</p>
                        <input pInputText placeholder="Ingrese la Referencia" id="username" type="text" />
                    </div>
                </div>
                <div class="flex flex-row justify-content-between mt-5">
                    <div class="flex flex-row m-auto">
                        <p class="pt-3 mr-5">Valor</p>
                        <input pInputText placeholder="Ingrese la Referencia" id="username" type="text" />
                    </div>
                    <div class="flex flex-row m-auto">
                        <p class="pt-3 mr-5">Referencia</p>
                        <input pInputText placeholder="Ingrese la Referencia" id="username" type="text" />
                    </div>
                </div>
               
                <div class="h-2rem"></div>
                <div class="flex flex-row justify-content-between">
                    <button pButton pRipple label="Ingresar" class="m-auto w-2"></button>
                </div>
            </div>
        </div>
    </div>
</div>
